body
{
    background-image:url(bg.png);
    background-color:#d5d5d5;
    font-size:12px;
    font-family:Liberation Sans, DejaVu Sans, Nimbus Sans, Verdana, Arial, Trebuchet MS, sans-serif;
    margin:0px;
    padding:12px 12% 12px 12%;
    text-align:justify;
    
}

img { border: none; }

a:img { border: 0px; }

a:link, a:visited
{
    text-decoration:none;
    color:#858585;
}

a:active, a:hover
{
    text-decoration:none;
    color:#197683;
}

h1
{
 
    font-weight:bold;
}

h2, h3
{
    color:#666666;
    border-bottom: none;
    margin:0px 0px 0px 20px;
    padding: 10px 0px 0px 0px;
    font-weight:bold;
    text-decoration:none;
}

h2
{
    font-size:20px;
}

h3
{
    font-size:16px;
}

#head
{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border:1px solid #a4a4a4;
    background-color:#d0d0d0;
    opacity: .6;
}

#head h1, h2, h3
{
    color:#566666;
    border-bottom:1px solid #e0e0e0;
    margin:0px 0px 0px 20px;
    padding: 9.42px 0px 3px 0px;
    font-weight:bold;
    text-decoration:none;
}

#page
{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border:1px solid #a4a4a4;
    background-color:#e9e9e9;
    opacity: .9;
    padding:20px;
    margin:0px;
}

#page img
{
    padding:10px 10px 10px 10px;
}

#code
{
    background-color:#d5d5d5;
    border:1px solid #7c7c7c;
    font-size:12px;
    font-family:Monospace;
    margin:20px;
    padding:3px 3px;
    text-align:justify;
    color:#2a2b2c;
}

#foot
{
    padding:5px;
    margin:10px;
    opacity: .6;
}

#foot img
{
   vertical-align:middle; 
}

div.float-right {
  float: right;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
}
div.float-right p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
div.float-left {
  float: left;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
}
div.float-left p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}